In [58]:
import pandas as pd
import numpy as np

In [31]:
iris = pd.read_excel(r'C:\Users\lyt\Desktop\iris.xls',header=None,names=['number','Sepal.Length','Sepal.Width','Petal.Length','Petal.Width','Species'])

In [32]:
iris.head()

   number  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0       1           5.1          3.5           1.4          0.2  setosa
1       2           4.9          3.0           1.4          0.2  setosa
2       3           4.7          3.2           1.3          0.2  setosa
3       4           4.6          3.1           1.5          0.2  setosa
4       5           5.0          3.6           1.4          0.2  setosa

In [33]:
iris.ix[[1,51,101]]

C:\Users\lyt\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

     number  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
1         2           4.9          3.0           1.4          0.2      setosa
51       52           6.4          3.2           4.5          1.5  versicolor
101     102           5.8          2.7           5.1          1.9   virginica

In [41]:
from sklearn.neighbors import KNeighborsClassifier

In [35]:
from sklearn.cross_validation import train_test_split,cross_val_score

C:\Users\lyt\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [37]:
x = iris.iloc[:,1:5]

In [38]:
y = iris.iloc[:,5]

In [39]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

In [51]:
from sklearn.neighbors import KNeighborsClassifier

In [55]:
iris_knn=KNeighborsClassifier(algorithm='kd_tree')

In [62]:
iris_knn.fit(x_train,y_train)
iris_knn.fit(x_train,y_train)
answer=iris_knn.predict(x)

In [63]:
answer_array=np.array([y,answer])
answer_mat=np.matrix(answer_array).T
result=pd.DataFrame(answer_mat)
result.columns=["真实类别","预测类别"]
result.ix[[1,51,101]]

C:\Users\lyt\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

           真实类别        预测类别
1        setosa      setosa
51   versicolor  versicolor
101   virginica   virginica

In [77]:
print ("KNN算法对测试集数据判别结果: ")
print (classification_report(y_test,iris_knn.predict(x_test))
print (53*"-")
print ("KNN算法对全部数据判别结果: ")
print (classification_report(y,iris_knn.predict(x)))

SyntaxError: invalid syntax (<ipython-input-77-4bb6806dd2e5>, line 3)